<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.runwaysdk.eclipse.plugin.runway.presentation.RunwayModelWizardID"
            name="%_UI_RunwayModelWizard_label"
            class="com.runwaysdk.eclipse.plugin.runway.presentation.RunwayModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RunwayModelFile.gif">
         <description>%_UI_RunwayModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.runwaysdk.eclipse.plugin.runway.presentation.RunwayEditorID"
            name="%_UI_RunwayEditor_label"
            icon="icons/full/obj16/RunwayModelFile.gif"
            extensions="runway"
            class="com.runwaysdk.eclipse.plugin.runway.presentation.RunwayEditor"
            contributorClass="com.runwaysdk.eclipse.plugin.runway.presentation.RunwayActionBarContributor">
      </editor>
   </extension>

</plugin>
